@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

p,
span,
pre,
h1 {
  text-wrap: initial;
  caret-color: transparent;
  user-select: none;
}
html {
    scroll-behavior: smooth;
  }

.content {
  @apply w-full h-screen px-offsetX pb-50 overflow-x-hidden overflow-y-auto scroll-smooth;
}

.text-block {
  @apply relative flex flex-col items-center justify-between w-full sm:w-1/2 min-h-[80vh] gap-y-10;
}

.image-block {
  @apply h-100 w-full sm:w-1/2 relative;
}

.admin-button {
  @apply h-12 rounded bg-brown text-secondary flex justify-center items-center hover:bg-peachy2 hover:text-amber-100 cursor-pointer active:scale-99;
}

